@font-face {
  font-family: "ExoFontBold";
  src: url('./font/TrebuchetMS.ttf');
}

@font-face {
  font-family: "ExoFont";
  src: url('./font/Exo2.0-Thin.otf');
}

.header {
  color: #fff;
  text-align: center;
  margin: 50px 0 30px 0;
  font-family: "ExoFont";
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "ExoFontBold";
}